@font-face {
    font-family: 'Inter var';
    src: url('./../../Inter.var.woff2');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
    color: #34495e;
    background: #f8f9fa;
}

svg {
    fill: #34495e;
}